{% extends "views/layout.html" %}
{% block content %}
    <div class="container mt-4">
        <h1 class="fs-4">About Aiszo</h1>
        <p class="lead">
            Aiszo is a simple web framework for Node.js, written in pure JavaScript. 
            It is designed to create web applications and APIs. It is very easy to learn and use. 
            It is based on the Express.js framework, but it is much simpler and easier to
        </p>
        <p class="lead">
You can download in via npm or yarn :</p>
        <div class="row">
            <div class="col-md-4">
                <h3 class="fs-4">npm</h3>
                <code>npm install aiszo</code>
            </div>
            <div class="col-md-4">
                <h3 class="fs-4">yarn</h3>
                <code>yarn add aiszo</code>
            </div>
            <div class="col-md-4">
                <h3 class="fs-4">Version</h3>
                <code>1.0.0</code>
            </div>

        </div>
    {% endblock %}